# S12 T01: Pipelines, grid search i text mining

## Descripció
Comencem a familiaritzar-nos amb Pipelines, grid search i text mining !!! Comencem amb uns quants exercicis bàsics

## Nivell 1
### - Exercici 1
Agafa el conjunt de dades que vulguis i realitza un pipeline i un gridsearch aplicant l'algorisme de Random Forest.

### - Exercici 2
Agafa un text en anglès que vulguis, i calcula'n la freqüència de les paraules

In [91]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

In [92]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [93]:
train_df.shape

(891, 12)

In [94]:
train_df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
834,835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
393,394,1,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.00,0,0,PC 17475,26.2875,E24,S
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.00,0,0,244278,10.5000,NaN,S
331,332,0,1,"Partner, Mr. Austen",male,45.50,0,0,113043,28.5000,C124,S

In [95]:
y_train=train_df.iloc[:,1]
X_train=train_df.iloc[:,2:].drop(['Name','Cabin','Ticket'],axis=1)
y_test=test_df.iloc[:,1]
X_test=test_df.iloc[:,1:].drop(['Name','Cabin','Ticket'],axis=1)

In [96]:
X_train=pd.get_dummies(X_train,drop_first=True)
X_test=pd.get_dummies(X_test,drop_first=True)

In [97]:
pipe=Pipeline([
        ('SImp',SimpleImputer(strategy='median')),
        ('RandForestC', RandomForestClassifier())
        ])

In [98]:
params={
    'RandForestC__max_depth': [6, 7, 8, 9],
    'RandForestC__n_estimators': [ 50,  60,  70,  80,  90, 100]
    }

In [99]:
cvmod=GridSearchCV(
    cv=5,
    estimator=pipe,
    param_grid=params
)

In [100]:
cvmod.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('SImp',
                                        SimpleImputer(strategy='median')),
                                       ('RandForestC',
                                        RandomForestClassifier())]),
             param_grid={'RandForestC__max_depth': [6, 7, 8, 9],
                         'RandForestC__n_estimators': [50, 60, 70, 80, 90,
                                                       100]})

In [101]:
dir(cvmod)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'feature_names_in_',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [102]:
cvmod.best_params_

{'RandForestC__max_depth': 9, 'RandForestC__n_estimators': 80}


## Nivell 2
### - Exercici 1
Treu les stopwords i realitza stemming al teu conjunt de dades.

## Nivell 3
### - Exercici 1
Realitza sentiment analysis al teu conjunt de dades.

## Recursos
Recursos de l'aula i https://www.nltk.org

## Objectius
Utilitzar pipelines i grid search
Realitzar mineria de texts