# S12 T01: Pipelines, grid search i text mining

## Descripció
Comencem a familiaritzar-nos amb Pipelines, grid search i text mining !!! Comencem amb uns quants exercicis bàsics

## Nivell 1
### - Exercici 1
Agafa el conjunt de dades que vulguis i realitza un pipeline i un gridsearch aplicant l'algorisme de Random Forest.

### - Exercici 2
Agafa un text en anglès que vulguis, i calcula'n la freqüència de les paraules

In [80]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

In [81]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [82]:
train_df.shape

(891, 12)

In [83]:
train_df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
478,479,0,3,"Karlsson, Mr. Nils August",male,22.00,0,0,350060,7.5208,NaN,S
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
664,665,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.00,0,0,C 7075,6.4500,NaN,S
346,347,1,2,"Smith, Miss. Marion Elsie",female,40.00,0,0,31418,13.0000,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S

In [84]:
y_train=train_df.iloc[:,1]
X_train=train_df.iloc[:,2:].drop(['Name','Cabin','Ticket'],axis=1)
y_test=test_df.iloc[:,1]
X_test=test_df.iloc[:,1:].drop(['Name','Cabin','Ticket'],axis=1)

In [85]:
X_train=pd.get_dummies(X_train,drop_first=True)
X_test=pd.get_dummies(X_test,drop_first=True)

In [86]:
pipe=Pipeline([
        ('SImp',SimpleImputer(strategy='median')),
        ('RandForestC', RandomForestClassifier())
        ])

In [87]:
params={
    'RandForestC__max_depth': [6, 7, 8, 9],
    'RandForestC__n_estimators': [ 50,  60,  70,  80,  90, 100]
    }

In [88]:
cvmod=GridSearchCV(
    cv=5,
    estimator=pipe,
    param_grid=params
)

In [79]:
cvmod.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('SImp',
                                        SimpleImputer(strategy='median')),
                                       ('RandForestC',
                                        RandomForestClassifier())]),
             param_grid={'RandForestC__max_depth': [6, 7, 8, 9],
                         'RandForestC__n_estimators': [50, 60, 70, 80, 90,
                                                       100]})

In [89]:
cvmod.

AttributeError: 'GridSearchCV' object has no attribute 'best_score_'

In [90]:
cvmod.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'


## Nivell 2
### - Exercici 1
Treu les stopwords i realitza stemming al teu conjunt de dades.

## Nivell 3
### - Exercici 1
Realitza sentiment analysis al teu conjunt de dades.

## Recursos
Recursos de l'aula i https://www.nltk.org

## Objectius
Utilitzar pipelines i grid search
Realitzar mineria de texts